.fondo {background-color: rgb(225, 127, 255);}
.mitexto {font-size: 20px;
color: green;}
.titleprincipal {color: black; font-size: 50px;}
.title{color: chartreuse; font-size: 60px;}
.title1{color: blue; font-size: 40px;}
.logo{width: 500px;}